*{
    margin-top: 0;
    padding: 0;
}
body{
    background-image: url(fundo_numeros_aleatorios.jpg);
}
.calculadora{
    position: absolute;   
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 330px;
    height: 630px;
    border-radius: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 15px;
}
.botao{
    background-color: #1b1b1b;
    color: white;
    width: 80px;
    height: 80px;
    font-size: 50px;
    cursor: pointer;
    border: none;
}
.botao:hover{
    background-color: black;
}
.botoes{
    justify-self: center;
    display: flex;
}
#resultado{
    background-color: white;
    color: black;
    width: 332px;
    height: 70px;
    text-align: right;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
